<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            Music Recommendation System
        </title>
    </head>
    <body>
        <br/><h1 class="center">
            Music Recommendation
        </h1><br/>
        <p>
            <div class="container center">
            <form action="/hello" method="post" class="center" enctype="multipart/form-data">
                <p class="center">Upload a Song: <input class="center" type="file" name="file"> <br /><br/>
                <p class="center"><input type="submit" name="form" value="Submit"/></p>
            </form>
        </div>
        </p>
    </body>
</html>